*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex { display: flex; }

.grid { display: grid; }

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 1em;
    padding: 3em 2em;

    width: 400px;
    height: 40em;

    row-gap: 1.5em;
    column-gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "displayField displayField displayField displayField"
        "btnClear btnBackspace btnPlusMinus btnPercent "
        "btnSeven btnEight btnNine btnDivide"
        "btnFour btnFive btnSix btnMultiply"
        "btnOne btnTwo btnThree btnMinus"
        "btnDot btnZero btnEqual btnPlus ";
}

.display-field { grid-area: displayField; }
.btn0 { grid-area: btnZero; }
.btn1 { grid-area: btnOne; }
.btn2 { grid-area: btnTwo; }
.btn3 { grid-area: btnThree; }
.btn4 { grid-area: btnFour; }
.btn5 { grid-area: btnFive; }
.btn6 { grid-area: btnSix; }
.btn7 { grid-area: btnSeven; }
.btn8 { grid-area: btnEight; }
.btn9 { grid-area: btnNine; }
.btn-plus { grid-area: btnPlus; }
.btn-minus { grid-area: btnMinus; }
.btn-multiply { grid-area: btnMultiply; }
.btn-divide { grid-area: btnDivide; }
.btn-equal { grid-area: btnEqual; }
.btn-clear { grid-area: btnClear; }
.btn-backspace { grid-area: btnBackspace; }
.btn-plusminus { grid-area: btnPlusMinus; }
.btn-percent { grid-area: btnPercent; }

.display-field {
    padding-inline: 1em;
    padding-block: 1em;
    text-align: right;

    font-size: 2rem;

    background-color: #FFF;
    color: #000;
    border: 2px solid black;
    border-radius: 0.5em;
}

.calculator > button {
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 0.5em;
}